html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  color: #222222;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a:hover,
button:hover {
  opacity: 0.7;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.l-header {
  height: 160px;
  display: flex;
  align-items: center;
}
@media (min-width: 960px) {
  .l-header {
    height: 80px;
  }
}

.p-header {
  width: 100%;
  background: #fff;
}
.p-header__inner {
  margin: 0 auto;
  width: 92.5%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1440px) {
  .p-header__inner {
    width: 78%;
    max-width: unset;
  }
}
.p-header__title {
  height: min(11.25vw, 4.8rem);
  position: relative;
  white-space: nowrap;
}
.p-header__title .p-title {
  position: absolute;
  font-family: "Homemade Apple", cursive;
  font-size: min(7.5vw, 3.2rem);
  font-weight: 400;
  font-style: normal;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.6s;
}
@media (min-width: 960px) {
  .p-header__title .p-title {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
.p-header__title .p-title--pc {
  font-size: 3.2rem;
  font-weight: 700;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}
@media (min-width: 960px) {
  .p-header__title .p-title--pc {
    opacity: 1;
    pointer-events: auto;
  }
}

.p-nav {
  padding: 171px 0 147px;
  background: #E3DEDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 160px;
  bottom: 0;
  right: -100%;
  left: 100%;
  z-index: 10;
  overflow-x: hidden;
  transition: all 0.3s;
}
@media (min-width: 960px) {
  .p-nav {
    padding: 0;
    flex-direction: row;
    background: inherit;
    position: static;
    transition: unset;
  }
}
.p-nav__list {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
@media (min-width: 960px) {
  .p-nav__list {
    flex-direction: row;
  }
}
.p-nav__list li:not(:first-child) {
  margin-top: 40px;
}
@media (min-width: 960px) {
  .p-nav__list li:not(:first-child) {
    margin-top: 0;
  }
}
.p-nav__item {
  display: inline-block;
  color: #000000;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (min-width: 960px) {
  .p-nav__item {
    padding: 28px 20px;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .p-nav__item:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
.p-nav__inquiry {
  margin-top: 80px;
  padding: 16px 23px;
  background: #E48484;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (min-width: 960px) {
  .p-nav__inquiry {
    margin: 0 0 0 20px;
    padding: 28px 12px;
    font-size: 1.6rem;
  }
}
.p-nav.is-open {
  right: 0;
  left: 0;
  overflow-y: auto;
}

.p-hamburgerBtn {
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 0;
}
@media (min-width: 960px) {
  .p-hamburgerBtn {
    display: none;
  }
}
.p-hamburgerBtn::before, .p-hamburgerBtn::after {
  content: "";
  width: 45px;
  height: 3px;
  background: #E48484;
  position: absolute;
  left: calc(50% - 45px/2);
  transition: transform 0.3s;
}
.p-hamburgerBtn::before {
  top: 10.5px;
}
.p-hamburgerBtn::after {
  top: 36.5px;
}
.p-hamburgerBtn > span {
  width: 45px;
  height: 3px;
  background: #E48484;
  position: absolute;
  top: calc(50% - 3px/2);
  left: calc(50% - 45px/2);
}
.p-hamburgerBtn.is-open::before {
  top: calc(50% - 3px/2);
  transform: rotate(45deg);
}
.p-hamburgerBtn.is-open::after {
  top: calc(50% - 3px/2);
  transform: rotate(135deg);
}
.p-hamburgerBtn.is-open > span {
  background: none;
}

.p-main__mv--slider {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s;
}
.p-main__mv--slider.slick-initialized {
  opacity: 1;
}

.p-mv {
  width: 100%;
  height: 66.6vw;
  background-color: #E48484;
  background-size: cover;
  background-position: center;
  position: relative;
}
.p-mv::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p-mv.-first {
  background-image: url(../../../images/mv_01.jpg);
}
.p-mv.-second {
  background-image: url(../../../images/mv_02.jpg);
}
.p-mv.-third {
  background-image: url(../../../images/mv_03.jpg);
}

.slick-prev {
  z-index: 5;
}
/*# sourceMappingURL=style.css.map */