@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:math";

.p-header {
  width: 100%;
  background: v.$white-color;

  &__inner {
    margin: 0 auto;
    width: 92.5%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: v.$font-color;
    font-size: 0;
    white-space: nowrap;

    .p-title--sp {
      font-family: "Homemade Apple", cursive;
      font-size: min(7.5vw, 3.2rem);
      font-weight: 400;
      font-style: normal;
      opacity: 1;
      pointer-events: auto;
      transition: opacity .6s;

      @include m.breakpoint(pc) {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }

    .p-title--pc {
      position: absolute;
      font-size: 3.2rem;
      font-weight: 700;
      opacity: 0;
      pointer-events: none;
      transition: opacity .6s;

      @include m.breakpoint(pc) {
        position: static;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}