@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:math";

.p-header {
  width: 100%;
  background: v.$white-color;

  &__inner {
    margin: 0 auto;
    width: 92.5%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.breakpoint(pc2) {
      width: 78%;
      max-width: unset;
    }
  }

  &__title {
    height: min( calc(7.5vw * 1.5), 4.8rem );
    position: relative;
    white-space: nowrap;

    .p-title {
      position: absolute;
      font-family: "Homemade Apple", cursive;
      font-size: min(7.5vw, 3.2rem);
      font-weight: 400;
      font-style: normal;
      opacity: 1;
      pointer-events: auto;
      transition: opacity .6s;

      @include m.breakpoint(pc) {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }

    .p-title--pc {
      font-size: 3.2rem;
      font-weight: 700;
      opacity: 0;
      pointer-events: none;
      transition: opacity .6s;

      @include m.breakpoint(pc) {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .p-hamburgerBtn {
    width: 50px;
    height: 50px;
    position: relative;

    @include m.breakpoint(pc) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      width: v.$btnWidth;
      height: v.$btnHeight;
      background: v.$main-color;
      position: absolute;
      left: calc(50% - math.div(#{v.$btnWidth}, 2));
    }

    &::before {
      top: 10.5px;
    }

    &::after {
      top: 36.5px;
    }

    &__bar {
      width: v.$btnWidth;
      height: v.$btnHeight;
      background: v.$main-color;
      position: absolute;
      top: calc(50% - math.div(#{v.$btnHeight}, 2));
      left: calc(50% - math.div(#{v.$btnWidth}, 2));
      font-size: 0;
    }
  }

  .p-nav {
    display: none;

    @include m.breakpoint(pc) {
      display: block;
    }

    &__list {
      display: flex;
    }

    &__item {
      padding: 28px 20px;
      display: inline-block;

      &.-common:hover {
        background: rgba(0 0 0 /.1);
      }

      &.-inquiry {
        padding-right: 12px;
        padding-left: 12px;
        background: v.$main-color;
        color: v.$white-color;
        font-weight: 700;
      }
    }
  }
}