@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:math";

.p-mv {
  position: relative;

  // ローディング中に画像が縦並びになるのを隠す
  &__slider {
    opacity: 0;
    transition: opacity .5s;

    &.slick-initialized {
      opacity: 1;
    }
  }

  &__img {
    position: relative;
  
    &::before {
      content: "";
      background: rgba(0 0 0 /.7);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    img {
      width: 100%;
      height: clamp(285px, 66.6vw, 810px);
      background: v.$main-color;
      object-fit: cover;
      object-position: center;
    }
  }
}

.p-title {
  color: v.$white-color;
  text-align: center;

  p {
    font-family: "Roboto", sans-serif;
    font-size: min(5.6vw, 2.4rem);
    line-height: 1;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    margin-top: 16px;
    font-size: min(11.5vw, 4.8rem);

    span {
      margin-top: 16px;
      display: block;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__wrapper {
    margin: 0 auto;
    width: 86%;
    max-width: 1080px;
    height: calc(100% - 24px - 16px);
    // ページ送りのドットを引いた高さ（100% - ドット下余白 - ドット高さ）
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
  
    @include m.breakpoint(pc) {
      height: calc(100% - 64px - 16px);
    }
  }
}