@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

.p-nav {
  visibility: hidden;
  padding: 171px 0 147px;
  background: v.$sub-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 160px;
  bottom: 0;
  right: -100%;
  left: 100%;
  z-index: 10;
  overflow-x: hidden;
  transition: all .3s;

  @include m.breakpoint(pc) {
    visibility: visible;
    padding: 0;
    flex-direction: row;
    background: inherit;
    position: static;
    transition: unset;
  }

  &.is-open {
    visibility: visible;
    right: 0;
    left: 0;
    overflow-y: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    white-space: nowrap;

    @include m.breakpoint(pc) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__item {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;

    @include m.breakpoint(pc) {
      padding: 28px 20px;
      color: v.$font-color;
      font-size: 1.6rem;
      font-weight: 400;

      &:hover {
        background: rgba(0 0 0 /.1);
      }
    }
  }

  &__inquiry {
    margin-top: 80px;
    padding: 16px 23px;
    background: v.$main-color;
    color: v.$white-color;
    font-size: 2.4rem;
    font-weight: 700;
    white-space: nowrap;

    @include m.breakpoint(pc) {
      margin: 0 0 0 20px;
      padding: 28px 12px;
      font-size: 1.6rem;
    }
  }
}

body.is-open {
  position: fixed;
}

.p-focusTrap {
  @include m.breakpoint(pc) {
    display: none;
  }
}